{% extends('common/base_detail.twig') %}

{% block main %}

	{{ form.form_title(standard_date|date('Y年n月j日')~name) }}
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>参画プロジェクト名</h4>
		<p>{{ project_name }}</p>
	</div>
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>作業内容</h4>
		<p>{{ work_content|nl2br }}</p>
	</div>
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>作業に関する疑問・不明点・反省等</h4>
		<p>{{ reflect|nl2br }}</p>
	</div>
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>その他</h4>
		<p>{{ other|nl2br }}</p>
	</div>
	
	</div>
	
	{{ form.input_button("popup-close", "閉じる", "", "btn_return", "window.close(); return false;") }}

{% endblock %}