{{ include('common/header.twig') }}
{{ include('common/body_header.twig') }}

{% import 'parts/header.twig' as header %}

{% import 'parts/form.twig' as form %}
{% import 'parts/main_body.twig' as main %}

{{ header.javascript_start }}
	function select_check(frm) {
		
		var name = frm.employee_id.selectedIndex;
		
		if (name == 0) {
			alert("名前を選択してください。");
			return false;
		}
		
		frm.submit();
	}
{{ header.javascript_end }}

{{ main.event_start }}
	
	{{ form.form_title("週報出力") }}
	
	{{ form.form_start("downloadform", "", "dl-area", base_url~"weekly_report/WeeklyReportOutput/output", "post") }}
		<p class="admin-des">社員・日付を選択して出力を押してください。</p>
		{{ main.select_block("sel-area", "社員名", 'employee_id', employee_map, employee_id) }}
		<div class="sel-area">
			<p class="sel-title-o">日付</p>
			{{ form.input_date("from_date", from_date) }} ～ {{ form.input_date("to_date", to_date) }}
		</div>
		<p class="action">
			<input type="button" class="btn_output" value="出力" onclick="select_check(this.form);">
		</p>
	{{ form.form_end }}
	
	</div>
	{{ main.return_list(base_url, "weekly_report/WeeklyReportList/") }}
	</div>
	
</div>

{{ main.main_end }}

{{ include('common/footer.twig') }}