{{ include('common/header.twig') }}
{{ include('common/body_header.twig') }}

{% import 'parts/header.twig' as header %}

{% import 'parts/form.twig' as form %}
{% import 'parts/main_body.twig' as main %}

{{ header.javascript_start }}
	function sub_output(frm) {
		
		if (sub_proc('精算書出力') == false) return false;
		
		frm.submit();
	}
{{ header.javascript_end }}

{{ main.event_start }}
	
	{{ form.form_title("精算書出力") }}
	
	{{ form.form_start("downloadform", "", "dl-area", base_url~"cost_manage/CostManageOutput/output", "post") }}
		<p class="admin-des">区分と出力年月を選択して出力を押してください。</p>
		{{ main.select_block("sel-area", "区分", 'input_type', input_type_map, input_type) }}
		{{ main.select_block("sel-area", "出力年月", 'month', month_map, month) }}
		<p class="action">
			<input type="button" class="btn_output" value="出力" onclick="sub_output(this.form);">
		</p>
	{{ form.form_end }}
	
	</div>
	{{ main.return_list(base_url, "cost_manage/CostManageList/") }}
	</div>
	
</div>

{{ main.main_end }}

{{ include('common/footer.twig') }}