{{ include('common/header.twig') }}
{{ include('common/body_header.twig') }}

{% import 'parts/header.twig' as header %}

{{ header.javascript_start }}
	{% block js %}{% endblock %}
{{ header.javascript_end }}

{% import 'parts/form.twig' as form %}
{% import 'parts/main_body.twig' as main %}

{% set value = "更新" %}

{{ main.event_start }}
	
	{% block main %}
	
		{{ form.form_title("パスワード変更") }}
		<div class="err-area">
			{{ include('common/err_msg.twig') }}
		</div>
		
		{{ form.form_start("inputform", "", "input-box", base_url~"password/PasswordModify/", "post") }}
			{{ form.form_hidden("", "action", action) }}
			<p class="admin-des">パスワードは半角英数字8文字以内で入力してください。</p>
			<dl>
				<dt>{{ form.set_col("新パスワード", 1) }}</dt>
				<dd>{{ form.input("new_password", new_password, "password", "", "", 20) }}</dd>
				<dt>{{ form.set_col("新パスワード(確認)", 1) }}</dt>
				<dd>{{ form.input("new_password_confirm", new_password_confirm, "password", "", "", 20) }}</dd>
			</dl>
		{{ form.form_end }}
		{{ form.action(action, value, delete_disable) }}
		</div>
		
		{{ main.return_top(base_url) }}
		</div>
	
	{% endblock %}
	
</div>

{{ main.main_end }}

{{ include('common/footer.twig') }}