{% extends('common/base_list.twig') %}

{% block js %}
	$(function() {
		$("table.list-table").tablesorter({
			headers: {
				0: { sorter: false },
				5: { sorter: false }},
			sortList: [
				[3,1]
			]
		}); 
	});
	{{ include('common/pager_js.twig') }}
	{{ header.responsive_js("notice-table") }}
{% endblock %}

{% block title %}
	お知らせ一覧
{% endblock %}

{% block main %}
	<div id="list-area">
		{% if list|length == 0 %}
			{{ main.info_msg("データがありません。")}}
		{% else %}
			{{ main.pager_block() }}
			<div id="notice-table">
				<table class="list-table">
					{{ include('parts/list_col.twig')}}
					<tbody id="container">
						{% for key,item in list %}
							<tr>
								<td class="ta-center"><a href="{{ base_url }}notice/NoticeRegist/modify_input/{{ item.id }}"><i class="far fa-edit" aria-hidden="true"></i></a></td>
								<td class="ta-center">{{ item.id }}</td>
								<td class="ta-center">{{ item.notice_name }}</td>
								<td class="ta-center">{{ item.regist_date|date('Y年n月j日') }}</td>
								<td class="ta-center">{{ item.published_date|date('Y年n月j日') }}</td>
								<td class="ta-center">
									{% if item.show_presence == '1' %}
										<input type="button" class="btn_detail" value="確認" onclick="window.open('{{ base_url }}notice/NoticeList/presence_confirm/{{ item.id }}', '確認', 'width=900, height=550, menubar=no, toolbar=no, scrollbars=yes');">
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}